.Ceremony {
  width: 100%;
  min-height: 800px;
  box-sizing: border-box;
  background: #fbf3fb;
  position: relative;
}

.CeremonyWrap {
  display: flex;
  flex-direction: column;
}

.Ceremony h3:first-of-type {
  margin-top: 50px;
}
