.Home {
  width: 100%;
  height: 800px;
  background: white;
  position: relative;
}

.HomeWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.HomeWrap img {
  max-height: 800px;
  max-width: 100%;
}

@media screen and (max-width: 900px) {
  .HomeWrap {
    align-items: flex-start;
  }
}