.Foto {
  width: 100%;
  min-height: 800px;
  box-sizing: border-box;
  background: #fbf3fb;
  position: relative;
}

.FotoWrap {
  display: flex;
  flex-direction: column;
}

.FotoWrap .subtitle {
  text-align: center;
}

.FotoWrap h3:first-of-type {
  margin-top: 50px;
}
