.Info {
  width: 100%;
  min-height: 800px;
  box-sizing: border-box;
  background: #fbf3fb;
  scroll-padding-top: 300px;
  position: relative;
}

.InfoWrap {
  display: relative;
  flex-direction: column;
}

.InfoWrap ul {
  margin-top: 0px;
  padding-left: 15px;
}

.InfoWrap ul li {
  margin: 10px;
}

.InfoWrap ul li ul {
  padding-left: 20px;
}

.InfoWrap .subtitle {
  text-align: center;
}

@media screen and (max-width: 900px) {
  .InfoWrap ul li ul {
    padding-left: 10px;
  }
}