.Collapsible {
  box-shadow: 3px 3px #5e3f5e;
}

.Collapsible button.Toggle {
  background-color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  color: #5e3f5e;
}

.Collapsible .Content {
  display: flex;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #fff;
  transition: max-height 0.3s ease-in-out;
}

.Collapsible .Content.Open {
  max-height: 3000px;
}

.Collapsible .Content .Border {
  height: 1px;
  width: 100%;
  background: #fbf3fb;
}

.Collapsible .Content .Wrapper {
  margin: 20px;
}