.Header {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header .wrapper {
  width: 1400px;
  height: 100%;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}