.Gallery {
  width: 100%;
  min-height: 800px;
  box-sizing: border-box;
  background: #fbf3fb;
  position: relative;
  padding: 20px;
}

.GalleryWrap {
  display: flex;
  flex-direction: column;
}

.GalleryWrap .subtitle {
  text-align: center;
}

.GalleryWrap h3:first-of-type {
  margin-top: 50px;
}
