.Event {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.Location {
    justify-self: flex-end;
    align-items: center;
}

.Time {
    display: flex;
    justify-content: flex-end;
}

.Row {
    display: grid;
    grid-template-columns: 40% 20% 40%;
}