.Quiz {
  width: 100%;
  min-height: 800px;
  box-sizing: border-box;
  background: #fbf3fb;
  position: relative;
}

.QuizWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}