.RSVP {
  width: 100%;
  min-height: 800px;
  box-sizing: border-box;
  background: #fbf3fb;
  position: relative;
}

.RSVPWrap {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 900px) {
  .RSVPForm  {
    display: none;
  }
}

