.RSVP {
  width: 100%;
  min-height: 800px;
  box-sizing: border-box;
  background: #fbf3fb;
  position: relative;
}

.RSVPWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.RSVP a {
  display: none;
  color: #5e3f5e;
}

.RSVP .ContentBlock .SmallImage img {
  object-position: 50% 20px;
}

@media screen and (max-width: 900px) {
  .RSVPForm  {
    display: none;
  }

  .RSVP a {
    display: block;
  }
}

