.NavigationBurger {
  grid-area: nav-right;
  justify-self: right;
  margin-right: 20px;
}

.NavigationBurger .Navbar {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  z-index: 10;
  padding: 100px;
}

.NavigationBurger .Navbar.Open {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(251, 243, 251, 0.8);
  width: 100%;
  height: 100vh;
}

.NavigationBurger button {
  position: fixed;
  top: 0px;
  right: 0px;
  display: inline-block;
  border: none;
  margin: 0;
  padding: 0;
  font-family: sans-serif; /* Use whatever font-family you want */
  font-size: 1rem;
  line-height: 1;
  background: transparent;
  -webkit-appearance: none;
  cursor: pointer;
  padding: 20px;
  z-index: 11;
}

.NavigationBurger .Navbar .nav-link {
  display: flex;
  align-items: top;
  justify-content: center;
  padding: 10px;
  width: 100%;
  color: black;
  text-decoration: none;
  font-family: Garamond;
}

@media screen and (min-width: 901px) {
  .NavigationBurger {
    display: none;
  }
}
