.ContentBlock {
  width: 100%;
  min-height: 800px;
  padding: 10%;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 4px solid white;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 3fr 2fr;
  text-align: justify;
}

.ContentBlock h3 {
  font-size: 25px;
  font-family: Garamond;
  color: #5e3f5e;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
}

.ContentBlock h3:first-of-type {
  margin-top: 10px;
  margin-bottom: 10px;
}

.ContentBlock h4 {
  font-size: 20px;
  font-family: Garamond;
  color: #5e3f5e;
  margin-top: 5px;
  margin-bottom: 5px;
}

.ContentBlock h5 {
  font-size: 17px;
  font-family: Garamond;
  color: #5e3f5e;
  margin-top: 5px;
  margin-bottom: 0px;
}

.ContentBlock .Content {
  padding-right: 40px;
}

.ContentBlock .Content .Title {
  margin-bottom: 30px;
}

.ContentBlock .Content .Title h2 {
  font-size: 40px;
  font-family: Garamond;
  color: #5e3f5e;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 5px;
}

.ContentBlock .Content .Title div {
  text-align: center;
  font-family: Garamond;
}

.ContentBlock .Image {
  width: 100%;
}

.ContentBlock .Image img {
  width: 100%;
  border: 4px solid white;
}

@media screen and (max-width: 900px) {
  .ContentBlock {
    display: flex;
    width: 100%;
  }

  .ContentBlock .Image {
    display: none;
  }

  .ContentBlock .Content {
    width: 100%;
    padding-right: 0px;
  }
}